/* HeroesComponent's private CSS styles */
.selected {
  background-color: #CFD8DC !important;
  color: white;
}
.reddits {
  list-style-type: none;
  padding: 0;
  width: 90%;
  margin: auto;
  background: white;
}

.reddits button {
  padding: 10px 25px;
  background-color: #fff;
  font-size: 16px;
  font-family: sans-serif;
  color: #333;
  border-radius: 5px;
  float:right;
  margin:10px
}
.reddits .next {
  background-color: blueviolet;
  color:white;

}
.reddits li {
  cursor: pointer;
  position: relative;
  left: 0;
  background-color: #EEE;
  margin: 10px;
  padding: 10px;
  height: 30px;
  width: 100%;
  border-radius: 4px;
}
.reddits .list-item {
  border:1px solid lightgray;
  padding:20px
}

.reddits .list-item:hover {
  background-color: lightblue !important;
  cursor:pointer
}

.reddits li.selected:hover {
  background-color: #BBD8DC !important;
  color: white;
}
.reddits li:hover {
  color: #607D8B;
  background-color: #DDD;
  left: .1em;
}
.reddits .text {
  position: relative;
  top: -3px;
}
.reddits .badge {
  display: inline-block;
  font-size: small;
  color: white;
  padding: 0.8em 0.7em 0 0.7em;
  background-color: #607D8B;
  line-height: 1em;
  position: relative;
  left: -1px;
  top: -4px;
  height: 1.8em;
  margin-right: .8em;
  border-radius: 4px 0 0 4px;
}
